/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
 /* background: url(./background-tile.png);*/
  background-color:#000;
  line-height: 1;
}

p {
  margin-bottom: 15px;
  text-align:justify;
}
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #FFF;
  margin: 0;
  padding: 0;
}

header {
  font-size: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px 0;
  text-shadow: 2px -2px 5px #888888;
}

header > h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-size: 50px;
  font-weight: 800;
}

header>h1, li>a, footer>a{
  opacity: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}

abbr, dfn, code {
   font-size: 18px; 
   font-style: italic;
  }

.articles {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0 2%;
  background-color: #2e2e2e;
  margin:0px 10%;
  border-radius: 20px;
  box-shadow: -3px -3px 10px #888888;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 3px;
  border-radius: 20px;
  margin: 20px 0;
}

article button {
  background-color: transparent;
  border: 0;
  color:#E18A07;
  margin:10px auto 40px auto;
  font-weight: 700;
  font-size: 30px;
}

article div {
  display: none;
}

article ol {
  list-style: decimal;
}

article ol li {
  margin: 10px 0 5px 100px;
}


article:first-child > div {
  display: block;
}

article p, article h2 {
  padding: 3px;
}

article div p, article li {
  text-indent: 30px;
  line-height: 35px;
  font-family: Verdana, Helvetica,Arial, sans-serif;
  font-weight: 500;
  padding: 0 1%;
}

aside {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;

  margin-right:5%;

}

aside, header, footer, footer>a{
  color:#E18A07;
}

aside ul li {
  list-style: none;
}

aside > ul li {
  margin: 20px 5px;
  padding-left: 2%;
  background:#333333;
  padding:2%;
  border-radius: 10px;
  box-shadow: -3px -3px 4px 4px #888888;
}

aside > ul li > a, aside > ul li > a:visited, footer > ul li > a:visited {
  color:#E18A07;
}

aside > ul > li > a,
footer > ul > li > a,
main article a {
  text-decoration: none;
  font-weight: 900;
  font-size: 25px;
}

aside > ul > li:first-child {
  margin-top: 40px;
}

footer {
  font-size: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 35px;
}

footer a {
  text-decoration: none;
  margin: 0 10px;
}

.arrow {
  border: solid #E18A07;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  margin-right: 100px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media only screen and (max-width: 600px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  aside {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
/*# sourceMappingURL=styles.css.map */